<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Minha escola</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container" >
        <h1>Escola Nota 1000</h1>
        <article data-theme="light">
            <h3>Aqui você encontra a melhor educação da cidade!!!</h3>
        </article>
         {% include 'includes/disciplinas.html' %}
    </main>
</body>
</html>